<app-slider (userChangeEvent)="filterPlaces($event)"></app-slider>
<div class="page">
  <mat-form-field class="select-sort" appearance="fill">
    <mat-label>Sortowanie</mat-label>
    <mat-select
      data-test="sort-select"
      (selectionChange)="changeSort($event.value)"
      [(value)]="selectedSort"
    >
      <mat-option></mat-option>
      <mat-option
        data-test="sort-option"
        [value]="option.value"
        *ngFor="let option of sort"
        >{{ option.viewValue }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <ul class="places">
    <li
      data-test="list-places"
      *ngFor="
        let place of Places | paginate: { itemsPerPage: 5, currentPage: page }
      "
    >
      <mat-card class="place-card">
        <img
          mat-card-image
          class="images"
          src="../../assets/images/{{ place.Id }}.jpg"
        />
        <mat-card-header>
          <mat-card-title data-test="card-title" class="title">{{ place.Name }}</mat-card-title>
        </mat-card-header>
        <app-rating [rating]="place.Rating"></app-rating>

        <mat-card-content class="content">
          <div class="description">
            {{ place.Description }}
          </div>
          <div class="info">
            {{ place.Address }}, Tel: {{ place.Phone }}, Link do strony:
            <a href="{{ place.Link }}" target="_blank">{{ place.Link }}</a>
            <br />
            Maks. liczba osób: {{ place.Max_persons }}
            <mat-chip-list>
              <mat-chip
                *ngFor="let tag of place.Tag"
                color="primary"
                selected
                class="tag"
              >
                {{ tag }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
