.place-card {
  width: auto;
  margin-bottom: 15px;
  @media (min-width: 992px) {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .images {
    @media (min-width: 992px) {
      max-width: 350px;
      margin-right: 25px;
    }
  }
}

.footer {
  text-align: center;
}

.info {
  font-size: smaller;
  font-weight: bold;
}

.description {
  font-size: small;
  padding-bottom: 20px;
}

.tag {
  font-size: smaller;
  min-height: 22px;
}

.sort-buttons {
  text-align: center;
}

.page {
  max-width: 600px;
  padding: 0 15px;

  @media (min-width: 992px) {
    max-width: 1100px;
    margin: 0 auto;
  }
}
