<h1 data-test="header" class="header">Team Events</h1>
<div class="container">
  <div class="side-bar">
    <app-side-bar
      (searchPlacesEvent)="searchPlaces($event)"
      (sortPlacesEvent)="sortPlaces($event)"
      (fliterPlacesEvent)="filterPlaces($event)"
    ></app-side-bar>
  </div>
  <div class="places-container">
    <app-places
      class="view"
      [places]="places"
      [currentPage]="currentPaginationPage"
    ></app-places>
    <pagination-controls
      class="pagination"
      (pageChange)="handlePaginationChange($event)"
    ></pagination-controls>
  </div>
</div>
<app-footer></app-footer>
