.header {
  font-weight: bolder;
  color: rgb(29, 6, 14);
  text-align: center;
  top: 0;
  z-index: 1;
  position: sticky;
  background: white;
  box-shadow: 5px 3px 5px 0px #ddd;
  padding: 25px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.side-bar {
  top: 100px;
  z-index: 1;
  position: sticky;
  height: 100%;
  width: 250px;
  margin: 20px;
  background-color: #f7f5f5;
  padding: 15px;
}

.view {
  display: flex;
}

.pagination {
  text-align: center;
}
