.header {
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(29, 6, 14);
  text-align: center;
}

.side-bar {
  position: fixed;
  height: 80%;
  width: 150px;
  left: 0;
  top: 0;
  padding-top: 40px;
  margin: 0 10px;
  background-color: lightblue;
}

.div-view {
  display: flex;
  margin-left: 40px;
}
