.header {
  margin-top: 30px;
  font-weight: bolder;
  color: rgb(29, 6, 14);
  text-align: center;
}

.side-bar {
  position: fixed;
  height: 80%;
  width: 250px;
  left: 0;
  top: 0;
  padding-top: 30px;
  margin: 10px 30px 30px 30px;
  background-color: lightblue;
}

.view {
  display: flex;
  margin-left: 300px;
}

.pagination {
  text-align: center;
}
